<h1>Editing event template</h1>

<%= render "form", event_template: @event_template %>

<br>

<div>
  <%= link_to "Show this event template", @event_template %> |
  <%= link_to "Back to event templates", event_templates_path %>
</div>
